{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}

<body onload="showProdacts()">

    <section class="basket" style="padding-top: 150px;">
        <div class="container ">

           <p><a href="{{ url_for('blog.eshop') }}">Eshop</a> /Καλάθι </p>

            <h1 class="text-center"><u> ΚΑΛΑΘΙ ΑΓΟΡΩΝ</u></h1>


            <div class="text-center" id="empty">
                <p>Το καλάθι είναι άδειο.</p>
            </div>




            <div class="section_our_solution">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" >
                        <div class="our_solution_category"  >
                            <div class="solution_cards_box" style="display:grid " >

                                <div class="prodactName" id="youtube">
                                    
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">

                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>

                                                    <div class="spin btn float-right" id="youtubeX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>

                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/youtube.svg) no-repeat">
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Youtube</h3>
                                                    </div>
                                                    
                                                    <div class="solu_description">
                                                        <ul>
                                                            <li>
                                                                Δημιουργία καναλιού στο Youtube

                                                            </li>
                                                            <li>

                                                                Εξατομικευμένο περιεχόμενο.

                                                            </li>

                                                        </ul>


                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="youtubebtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>




                                <div class="prodactName" id="facebook">

                                    <div class="flip-card ">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">

                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="facebookX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/facebook.svg) no-repeat">

                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Facebook</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Δημιουργία προφίλ στο Facebook.

                                                            </li>
                                                            <li>

                                                                Εξατομικευμένο περιεχόμενο.

                                                            </li>

                                                        </ul>

                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact()"
                                     id="facebookbtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>



                                <div class="prodactName" id="website">


                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="websiteX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/WWW-Icon.svg) no-repeat">

                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Ιστοσελίδα</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Δημιουργία Ιστοσελίδας στο Διαδίκτυο.

                                                            </li>
                                                            <li>

                                                                Εξατομικευμένο περιεχόμενο.

                                                            </li>

                                                        </ul>

                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="websitebtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="prodactName" id="video">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="videoX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/.svg) no-repeat">

                                                        <i class="fas fa-video fa-4x"></i>
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Βίντεο Ιατρείου</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Δημιουργία Βίντεο Ιατρείου.

                                                            </li>

                                                            </p>
                                                            <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="videobtn">Αγόρασε Digital Marketing</button> -->
                                                            <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="prodactName" id="linkedin">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="linkedinX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/linkedin.svg) no-repeat">
                                                        <!-- <svg style="fill: rgb(0, 11, 158);"  role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>LinkedIn</title><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg> -->
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>LinkedIn</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                            Θες να έχεις το δικό σου προφίλ στο LinkedIn;
                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                       id="linkedinbtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>




                                <div class="prodactName" id="photo">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="photoX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/.svg) no-repeat">
                                                        <i class="fas fa-camera fa-4x"></i>
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Φωτογράφιση</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                            Επαγγελματική Φωτογράφιση ... στο χώρο σας.
                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                       id="photobtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="prodactName" id="spot">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="spotX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/.svg) no-repeat">
                                                        <i class="fas fa-film fa-4x"></i>
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Μακέτα & Βίντεο Σποτ</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Δημιουργία Μακέτας.

                                                            </li>
                                                            <li>

                                                                Δημιουργία Βίντεο Σποτ.

                                                            </li>

                                                        </ul>

                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="spotbtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 199.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="prodactName" id="brandName">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="brandNameX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/business-card.svg) no-repeat">
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Βrand Name</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Δημιουργία Brand name.

                                                            </li>


                                                        </ul>

                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="brandNamebtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="prodactName" id="radio">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="radioX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/radio-fm.svg) no-repeat">
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Ραδιοφωνικές Συνεντεύξεις</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Ραδιοφωνική Συνεντεύξη.

                                                            </li>


                                                        </ul>

                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="radiobtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="prodactName" id="article">

                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="articleX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/.svg) no-repeat">
                                                        <i class="far fa-newspaper fa-4x"></i>
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Αρθρογραφίες - Συνεντεύξεις ανά είδικότητα</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Σύνταξη Αρθρογραφιών.

                                                            </li>
                                                            <li>
                                                                Συνεντεύξη.
                                                            </li>


                                                        </ul>
                                                        </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="articlebtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="prodactName" id="twitter">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class="spin btn float-right" id="twitterX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background-position: 1px 7px !important; background-color: rgb(0, 102, 255) !important; background:url(/static/img/twitter.svg) no-repeat">
                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>Twitter</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                        <ul>
                                                            <li>
                                                                Δημιουργία προφίλ στο Twitter.
                                                            </li>
                                                            <li>
                                                                Εξατομικευμένο περιεχόμενο.
                                                            </li>

                                                        </ul>
                                                        Θες να έχεις το δικό σου προφίλ στο Twitter; </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="twitterbtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <div class="prodactName" id="tv">

                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <div class="solution_card">
                                                    <div class="hover_color_bubble"></div>
                                                    <div class=" spin btn float-right" id="tvX" onClick="removeProduct(this.id);">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                    <div class="so_top_icon"
                                                        style="background:url(/static/img/Raseone-tv.svg) no-repeat">

                                                    </div>

                                                    <div class="solu_title">
                                                        <h3>TV</h3>
                                                    </div>
                                                    <div class="solu_description">
                                                        <p>
                                                            Θες να έχεις το δικό σου Τηλεοπτικό Σποτάκι; </p>
                                                        <!-- <button type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                                     id="tvbtn">Αγόρασε Digital Marketing</button> -->
                                                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    



                            </div>

                            <!-- <div class="solution_cards_box sol_card_top_3 sol_card_col3" style="display:grid;">
                            </div> -->


                            

                            <!--  -->

                            <div class="solution_cards_box sol_card_top_3" style="display:grid; position: static; " >

                                
                                <div class="card text-center" style="width: 21rem; height: auto; margin: 12px; background-color: lightsalmon; ">
                                    <div class="card-body">
                                      <small class="card-title">Ταμείο</small>
                                      <p class="card-text text-left ">
                                        <div class="list-group" id=list-group >
                                           <div id="list-item">
                                        </div>
                                           
                                            <a href="#" id="empty2" class="prodactCart list-group-item list-group-item-action flex-column align-items-start ">
                                              <div class="text-center ">
                                                <p> Το Καλάθι είναι άδειο.</p>
                                              </div>
                                            </a>
                                            <a href="#" id= "youtubeCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Youtube</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "spotCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Μακέτα & Βίντεο Σποτ</small>
                                                  <small class="text-muted" id="">199.00&euro;</small>
                                                </div>
                                              </a>
                                              <a href="#" id= "twitterCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Twitter</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "facebookCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Facebook</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "brandNameCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Brand Name</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "tvCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Tηλεοπτικό Σποτάκι</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "websiteCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Ιστοσελίδα</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "radioCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Ραδιοφωνική Συνεντεύξη</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "linkedinCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >LinkedIn</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "videoCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Βίντεο Ιατρείου</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                              <a href="#" id= "articleCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Αρθρογραφίες & Συνεντεύξη</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>
                                              <a href="#" id= "photoCart"class="prodactCart list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                  <small >Φωτογράφιση</small>
                                                  <small class="text-muted" id="">99.00&euro;</small>
                                                </div>
                                              </a>

                                            <a href="#" id= ""class="mb-2 list-group-item list-group-item-action flex-column align-items-start">
                                              <div class="d-flex w-100 justify-content-between">
                                                <small >Σύνολο</small>
                                                <small class="text-muted" id="sum">0.00&euro;</small>
                                              </div>
                                            </a>



                                        
                                        
                                            
                                          </div>
                                 
                                      
                                      <label for="day">Επιθυμητή Ημερομηνία Συνάντησης:</label>

                                    <input class="mb-2" type="date" id="meeting-day" name="meeting-day" required
                                        value=""
                                        min="2021-01-01" max="2022-12-31"> <br>

                                        <label for="time">Ώρα Συνάντησης:</label><br>

                                        <input type="time" id="meeting-time" name="meeting-time"
                                        value=""
                                        min="09:00" max="19:00" > <br>
                                        
                                        <small>Διαθέσιμες ώρες από 9am - 7pm</small> <br>
                           
                                        <div class=" mt-1 form-check float-left">
                                            <input class="form-check-input" type="radio" name="choice" id="choice-clinic" value="clinic" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                              Συνάντηση στο Ιατρείο μου.
                                            </label>
                                          </div>
                                          <div class="form-check float-left">
                                            <input class="form-check-input" type="radio" name="choice" id="choice-office" value="office">
                                            <label class="form-check-label" for="exampleRadios2">
                                              Συνάντηση στα γραφεία της εταιρίας.
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            
                                          </div>


                                    <a href="#"  class="mt-1 btn btn-primary" onClick="buy();" >Αγορά Τώρα </a>
                                    <!-- data-toggle="modal" data-target="#myModal" -->
                                    <p><br><small>
                                        Η πληρωμή μπορεί να γίνει με:  
                                    </small>  </p>
                                      <ul class="text-left">
                                          <li>
                                            <small>
                                                κατάθεση στο λογαριασμό 465435434 Χ ΤΡΑΠΕΖΑ με αιτιολογία "ΥΓΕΙΑSUPPORT"  
                                            </small>  
                                          </li>
                                          <li>
                                            <small>
                                                  αντικαταβολή
                                            </small>  
                                          </li>
                                      </ul>    
                                
                                </div>
                                  </div>


                            </div>
                            <!--  -->



                        </div>
                    </div>
                </div>
            </div>





            <div class="card">
                
                
            </div>


        </div>


    </section>



</body>



  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <img src="/static/img/YgeiaSupportAdvisors_logo-2.png"  height="80" width="130" class="attachment-full size-full" alt="ΥγείαSupport Advisors" title="ΥγείαSupport Advisors" loading="lazy" >
      
        <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <!--       
      </div>
      <br>
        <h5 class="modal-title " style="align-self: center; font-size: 32px; " id="myModalLabel">Ηλεκτρονικό Κατάστημα</h5>
      <div class="modal-body">
        <form class="row g-3">
      </div> -->
  
      <!-- <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
          
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="content w-100">
                <div class="calendar-container">
                  <div class="calendar"> 
                    <div class="year-header"> 
                      <span class="left-button fa fa-chevron-left" id="prev"> </span> 
                      <span class="year" id="label"></span> 
                      <span class="right-button fa fa-chevron-right" id="next"> </span>
                    </div> 
                    <table class="months-table w-100"> 
                      <tbody>
                        <tr class="months-row">
                          <td class="month">Jan</td> 
                          <td class="month">Feb</td> 
                          <td class="month">Mar</td> 
                          <td class="month">Apr</td> 
                          <td class="month">May</td> 
                          <td class="month">Jun</td> 
                          <td class="month">Jul</td>
                          <td class="month">Aug</td> 
                          <td class="month">Sep</td> 
                          <td class="month">Oct</td>          
                          <td class="month">Nov</td>
                          <td class="month">Dec</td>
                        </tr>
                      </tbody>
                    </table> 
                    
                    <table class="days-table w-100"> 
                      <td class="day">Sun</td> 
                      <td class="day">Mon</td> 
                      <td class="day">Tue</td> 
                      <td class="day">Wed</td> 
                      <td class="day">Thu</td> 
                      <td class="day">Fri</td> 
                      <td class="day">Sat</td>
                    </table> 
                    <div class="frame"> 
                      <table class="dates-table w-100"> 
                        <tbody class="tbody">             
                        </tbody> 
                      </table>
                    </div> 
                    <button class="button" id="add-button">Add Event</button>
                  </div>
                </div>
                <div class="events-container">
                </div>
                <div class="dialog" id="dialog">
                    <h2 class="dialog-header"> Add New Event </h2>
                    <form class="form" id="form">
                      <div class="form-container" >
                        <label class="form-label" id="valueFromMyButton" for="name">Event name</label>
                        <input class="input" type="text" id="name" maxlength="36">
                        <label class="form-label" id="valueFromMyButton" for="count">Number of people to invite</label>
                        <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
                        <input type="button" value="Cancel" class="button" id="cancel-button">
                        <input type="button" value="OK" class="button button-white" id="ok-button">
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      
  
  
  
      <!-- <div class="modal-footer" style="align-self: center;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Συνέχιση αγορών</button>
              <a href="/basket" type="submit" class="btn btn-primary">Καλάθι αγορών</a>
      </div> -->
      <!-- </form> -->
    </div>
  </div>
  </div>
  
{% endblock %}