{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}

<section class="masterhead " id="eshop"> 
    <div class="text-center bg-secondary">
<h2 class="titlePage pt-3">Blog page</h2>



<p>    The feed of a Facebook Page including posts and links published by this Page, or by visitors to this Page. Use this endpoint to get and publish to a Page.</p>
<h5><a href="https://developers.facebook.com/docs/graph-api/reference/v11.0/page/feed" target="_blank"><strong> Feed </strong></a> </h5> 
</div>
</section>
{% endblock %}