{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block main %}

<div class="container " style="padding-top: 145px ;">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2 ">
	        
    		<h1>Create product</h1>
    		
    		<form method="POST">
    		    
<!--     		    
    		    <div class="form-group">
    		        <label for="icon_url">Icon .svg <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="icon_url" value="{{ request.form['icon_url'] }}" required />
    		    </div> -->
    		    		    
    		    <div class="form-group">
    		        <label for="title">Title <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="title" value="{{ request.form['title'] }}" required />
    		    </div>

    		    <!-- <div class="form-group">
    		        <label for="description">Description <span class="require">*</span></label>
    		        <input rows="3" class="form-control" name="description" id="description" value="{{ request.form['description'] }}" required />
    		    </div> -->
    		    
				<!-- <div class="form-group">
    		        <label for="">Button ID <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="btn_id" value="{{ request.form['btn_id'] }}" required />
    		    </div> -->
				
				<div class="form-group">
    		        <label for="title">Price <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="price" value="{{ request.form['price'] }}" required />
    		    </div>

    		    <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div>
    		    
    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">
    		            Save
    		        </button>

                    <button type="reset" class="btn btn-default" >
                        Reset
                    </button>
    		    </div>
    		    
    		</form>
		</div>

	</div>
		<div class="col-md-4 col-md-offset-2 ">

			<h1>Products</h1>


{% for product in products %}
        <div class="card mt-3" style="width: auto;">
            <div class="card-body">
            <h3 class="card-title">{{ product['title'] }}</h3>
            <h6 class="card-subtitle mb-2 text-muted"><small> by <b> {{ product['author_id'] }} </b>on {{ product['created'].strftime('%d/%m/%Y, %H:%M:%S') }} UTC</small></h6>
            <p class="card-text">{{ product['description'] }}</p>
			<p class="card-text">{{ product['icon_url'] }}</p>
			<p class="card-text">{{ product['btn_id'] }}</p>
			<p class="card-text">{{ product['price'] }}</p>
         
            
                <a class="card-link badge badge-pill badge-secondary text-danger" href="{{ url_for('blog.update', id=product['id']) }}"><i class="fas fa-pencil-alt"></i> Edit</a>

                <a  class="card-link badge badge-pill badge-danger text-danger"  href="{{url_for('blog.delete', id=product['id']) }}" onclick="return confirm('Are you sure?');"><i class="fas fa-times"></i> Delete</a>
            
            
             	<!-- <a href="#" class="card-link">Card link</a>
            	<a href="#" class="card-link">Another link</a> -->
			</div>
        </div>
		{% if not loop.last %}
		<hr>
	  {% endif %}
  

{% endfor %}

		</div>
	</div>
</div>


{% endblock %}