{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}


<!-- <video autoplay muted loop id="myVideo">
  <source src="/static/img/bg_eshop2.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->
<body onload="topSum()">
<section class="page-section " id="eshop">
  <div class="container ">
    <p>Eshop/<a href="{{ url_for('blog.basket') }}">Καλάθι</a>  </p>


    <!-- CARDS E-SHOP -->

    <br>

    <div class="section_our_solution">
      <div class="row">


        <div class="row " style="flex:1; position: static;">
          <div class="col-6 ">
            <div class="image">
              <img src="/static/img/eshop_top.jpg" alt="" width="100%" height="100%"
                style="max-height: 550px; max-width: 350px; border-radius:50px 2px 2px 50px">
            </div>
          </div>
          <div class="col-6 eshop_title ">
            <div class="card text-center text-white"
              style=" background: rgba(84, 244, 255, 0.575); border-radius: 2px 50px 50px 2px; overflow: hidden;">
              <h5 class="card-title"><strong>Νέα ανατροπή στον τομέα της Υγείας</strong></h5>
              <h3 class="text-center" style="  color: rgb(214, 0, 0); background-color: floralwhite; "> <strong>Αγοράστε
                  Τώρα Υπηρεσίες Ηλεκτρονικού Μάρκετινγκ!</strong></h4>

                <h5 class="card-title" style=" color: rgb(214, 0, 0); background-color: floralwhite;"><strong>Online
                    Delivery - Digital Marketing</strong></h5>

                <div class="card-body">

                  <p class="card-text " style="color:black; "><strong>🔴 Πρωτοπορούμε στον τομέα μας και τώρα έχετε τη
                      δυνατότητα να αγοράσετε υπηρεσίες Ιατρικού Digital Marketing <br>
                      🔴 Πλήρως εξατομικευμένες Αρθρογραφίες και που να καλύπτουν τις ανάγκες σας ❗❗❗ </strong></p>

                </div>
            </div>
          </div>

        </div>
        <!-- <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="flip-card" >
            
        </div> -->
     
          <div class="our_solution_category">

            <div class="solution_cards_box">


              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">

                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/youtube.svg) no-repeat">

                      </div>
                      <div class="solu_title">
                        <h3>Youtube</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Θες να έχεις το δικό σου κανάλι στο Youtube;

                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1"
                                onClick="moveProdact(this.id)" id="youtube"
                                > Αγορά Τώρα </button>
                        
                          <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>

                  </div>
      </div>
              </div>



              <div class="flip-card ">
                <div class="flip-card-inner">
                  <div class="flip-card-front">

                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/facebook.svg) no-repeat">

                      </div>




                      <div class="solu_title">
                        <h3>Facebook</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Θες να έχεις το δικό σου προφίλ στο Facebook;
                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="facebook"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/WWW-Icon.svg) no-repeat">

                      </div>

                      <div class="solu_title">
                        <h3>Ιστοσελίδα</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Θες να έχεις τη δικιά σου Ιστοσελίδα στο Διαδίκτυο;
                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="website"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/.svg) no-repeat">

                        <i class="fas fa-video fa-4x"></i>
                      </div>

                      <div class="solu_title">
                        <h3>Βίντεο Ιατρείου</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Δημιουργία Βίντεο Ιατρείου.
                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="video"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <!--  -->


            <div class="solution_cards_box sol_card_top_3 sol_card_col3">

              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/.svg) no-repeat">
                        <i class="fas fa-film fa-4x"></i>
                      </div>

                      <div class="solu_title">
                        <h3>Μακέτα & Βίντεο Σποτ</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Δημιουργία Μακέτας και Βίντεο Σποτ.
                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="spot"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 199.00 &euro;</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/business-card.svg) no-repeat">
                      </div>

                      <div class="solu_title">
                        <h3>Βrand Name</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Δημιουργία Brand name.
                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="brandName"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/radio-fm.svg) no-repeat">
                      </div>

                      <div class="solu_title">
                        <h3>Ραδιοφωνικές Συνεντεύξεις</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Θες να έχεις τη δικιά σου Ραδιοφωνική Συνεντεύξη;
                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="radio"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/.svg) no-repeat">
                        <i class="far fa-newspaper fa-4x"></i>
                      </div>

                      <div class="solu_title">
                        <h3>Αρθρογραφίες - Συνεντεύξεις ανά είδικότητα</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Θες να έχεις τις δικιές σου Αρθρογραφίες & Συνεντεύξεις εξατομικευμένες στην ειδικότητά σου;
                        </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="article"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




            </div>

            <!--  -->

            <div class="solution_cards_box sol_card_top_3">

              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon"
                        style="background-position: 1px 7px !important; background-color: rgb(0, 102, 255) !important; background:url(/static/img/twitter.svg) no-repeat">
                      </div>

                      <div class="solu_title">
                        <h3>Twitter</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Θες να έχεις το δικό σου προφίλ στο Twitter; </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="twitter"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="flip-card" >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="solution_card">
                      <div class="hover_color_bubble"></div>
                      <div class="so_top_icon" style="background:url(/static/img/Raseone-tv.svg) no-repeat">

                      </div>

                      <div class="solu_title">
                        <h3>Τηλεοπτικό Σποτάκι</h3>
                      </div>
                      <div class="solu_description">
                        <p>
                          Θες να έχεις το δικό σου Τηλεοπτικό Σποτάκι; </p>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                           id="tv"> Αγορά Τώρα </button>
                        <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                      </div>
                    </div>
                  </div>
                   </div>
                </div>

                <div class="flip-card" >
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <div class="solution_card">
                        <div class="hover_color_bubble"></div>
                        <div class="so_top_icon" style="background:url(/static/img/linkedin.svg) no-repeat">
                        </div>

                        <div class="solu_title">
                          <h3>LinkedIn</h3>
                        </div>
                        <div class="solu_description">
                          <p>
                            Θες να έχεις το δικό σου προφίλ στο LinkedIn;
                          </p>
                          <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                             id="linkedin"> Αγορά Τώρα </button>
                          <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>


                <div class="flip-card" >
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <div class="solution_card">
                        <div class="hover_color_bubble"></div>
                        <div class="so_top_icon" style="background:url(/static/img/.svg) no-repeat">
                          <i class="fas fa-camera fa-4x"></i>
                        </div>

                        <div class="solu_title">
                          <h3>Φωτογράφιση</h3>
                        </div>
                        <div class="solu_description">
                          <p>
                            Επαγγελματική Φωτογράφιση ... στο χώρο σας.
                          </p>
                          <button data-toggle="modal" data-target="#myModal" type="button" class="read_more_btn  mt-1" onClick="moveProdact(this.id)"
                             id="photo"> Αγορά Τώρα </button>
                          <p><br> ΤΙΜΗ: 99.00 &euro;</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!--  -->


            </div>
          </div>
        </div>

        





      </div>
  </div>

</section>
</body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header" >
      <img src="/static/img/YgeiaSupportAdvisors_logo-2.png"  height="80" width="130" class="attachment-full size-full" alt="ΥγείαSupport Advisors" title="ΥγείαSupport Advisors" loading="lazy" >
    
      <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    <br>
      <h5 class="modal-title " style="align-self: center; font-size: 32px; " id="myModalLabel">Ηλεκτρονικό Κατάστημα</h5>
    <div class="modal-body">
      <form class="row g-3">
       


    </div>
    <div class="modal-footer" style="align-self: center;">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Συνέχιση αγορών</button>
            <a href="/basket" type="submit" class="btn btn-primary">Καλάθι αγορών</a>
    </div>
    </form>
  </div>
</div>
</div>

{% endblock %}