{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}



<!-- Masthead-->

<body onload="topSum()">
    

<header class="masthead " id="masthead">
    <!-- Carousel wrapper -->
    <div id="demo" class="carousel slide carousel-fade" data-ride="carousel" style="top: 0px;">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img src="/static/img/carousel1.jpeg" alt="">
            </div>

            <div class="carousel-item ">
                <img src="/static/assets/img/laka2.png" alt="">
            </div>
            <!-- <div class="carousel-item">
                  <img src="/static/assets/img/laka3.png" alt="" >
                </div> -->
            <div class="carousel-item">
                <img src="/static/assets/img/laka1.jpg" alt="">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <!-- Carousel wrapper -->
</header>

<!-- <header class="masthead">
                  <div class="container mt-5" ></div>
                      <div class="masthead-subheading" >Ιατρικό Digital Marketing!</div>
                      <div class="masthead-heading text-uppercase mb-2">Υγεια Support & Advisors</div>
                      <div class="masthead-subheading mt-3 mb-2">Λάκα Ιωάννα</div>
                      <div class="mb-3"> Συγγραφέας Υγείας - Δημοσιογράφος </div>
                      <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
                  </div>
              </header> -->




<!-- Services-->

<section class="page-section" id="services">
    <div class="container">
        
        <div class="row ">
            <h2 class="section-heading text-center ">Υπηρεσίες <br><br></h2>
            <div class="col d-flex">
                <h2 class="mb-3 text-center">Προωθήστε το Ιατρείο σας χρησιμοποιώντας τις Πρωτοπόρες Υπηρεσίες μας</h2>
            </div>
            <div class="col d-flex">
                <h3 class="section-subheading text-muted text-center">Η εταιρεία ΥγείαSupport & Advisors παρέχει
                    δημοσιογραφική κάλυψη και παραγωγές ιατρικού περιεχομένου (ραδιόφωνο και τηλεόραση). Η πολυετής
                    εμπειρία μας στον χώρο της Υγείας καθιστά την εταιρεία μας, ως μια από τις πλέον κατάλληλες στην
                    διαχείριση του Digital Marketing για Επαγγελματίες Υγείας. Η εταιρεία επίσης αναλαμβάνει την
                    εκπόνηση και την προβολή τηλεοπτικών και ραδιοφωνικών εκπομπών. Συγκεκριμένα, διαθέτει δική της
                    εκπομπή, η οποία ονομάζεται ΥγείαSupport.</h3>
            </div>
        </div>
        <div class="row mt-3">
        <div class="wrapper ">
            <!-- <h2>
                      Services</h2>
                      <div class="line">
                      </div> -->
            <div class="single-service mb-2">
                <h5>
                    Digital
                    Marketing</h5>
                <div class="social">
                    <img src="/static/img/1.jpg" alt="DigitalMarketing">
                </div>
                <span></span>

                <p>Η εταιρεία μας αναλαμβάνει την ανάπτυξη και προώθηση των επαγγελματικών σας προφίλ στα Social Media.
                </p>
                <button type="button" class="btn btn-outline-primary  mt-auto"
                    onclick="document.location='services#DigitalMarketing'">Δείτε Περισσότερα</button>
            </div>

            <div class="single-service  mb-2">
                <h5>
                    Συγγραφή Θεματολογίας & Αρθρογραφία</h5>
                <div class="social">
                    <img src="/static/img/2.jpg" alt="Αρθρογραφία">
                </div>
                <span></span>

                <p>Αναλαμβάνουμε τη συγγραφή θεματολογιών για δημοσίευση στα Social Media εξατομικευμένα για τον κάθε
                    γιατρό.</p>
                <button type="button" class="btn btn-outline-primary mt-auto "
                    onclick="document.location='services#Συγγραφή Θεματολογίας & Αρθρογραφία'">Δείτε
                    Περισσότερα</button>

            </div>


            <div class="single-service  mb-2">
                <h5>
                    Τηλεοπτική και Ρ/Φ Εκπομπή «ΥγείαSupport»</h5>
                <div class="social">
                    <img src="/static/img/3.jpg" alt="TV Radio">
                </div>
                <span></span>

                <p>Η εταιρεία ΥγείαSupport & Advisors διαθέτει δική της ομώνυμη εκπομπή. </p>
                <button type="button" class="btn btn-outline-primary mt-auto "
                    onclick="document.location='services#Τηλεοπτική και Ραδιοφωνική Εκπομπή «ΥγείαSupport»'">Δείτε
                    Περισσότερα</button>

            </div>


            <div class="single-service  mb-2">
                <h5>
                    Διοργάνωση Ιατρικών Ημερίδων και Συνεδρίων</h5>
                <div class="social">
                    <img src="/static/img/4.jpg" alt="meetups">
                </div>
                <span></span>

                <p>Οι ιατρικές ημερίδες διοργανώνονται μία φορά το μήνα σε διαφορετικές περιοχές της Αθήνας. </p>
                <button type="button" class="btn btn-outline-primary mt-auto"
                    onclick="document.location='services#Διοργάνωση Ιατρικών Ημερίδων και Συνεδρίων'">Δείτε
                    Περισσότερα</button>

            </div>

        </div>
    </div>

        <!-- <div class="text-center">
                          <h2 class="section-heading ">Υπηρεσίες</h2>
                          <h3 class="section-subheading text-muted">Η εταιρεία ΥγείαSupport & Advisors παρέχει δημοσιογραφική κάλυψη και παραγωγές ιατρικού περιεχομένου (ραδιόφωνο και τηλεόραση). Η πολυετής εμπειρία μας στον χώρο της Υγείας καθιστά την εταιρεία μας, ως μια από τις πλέον κατάλληλες στην διαχείριση του Digital Marketing για Επαγγελματίες Υγείας. Η εταιρεία επίσης αναλαμβάνει την εκπόνηση και την προβολή τηλεοπτικών και ραδιοφωνικών εκπομπών. Συγκεκριμένα, διαθέτει δική της εκπομπή, η οποία ονομάζεται ΥγείαSupport.</h3>
                      </div>
                      <div class="row text-center">
                          <div class="col-md-4">
                            <img src="/static/img/1.jpg" alt="DigitalMarketing">
                             
                              <h4 class="my-3">Ψηφιακό Μάρκετινγκ</h4>
                              <p class="text-muted">Ανάπτυξη / διαχείριση / προώθηση:<br> Facebook - Instagram - Linkedin - Youtube - Ιστοσελίδες.</p>
                          </div>
                          <div class="col-md-4">
                              <span class="fa-stack fa-4x">
                                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
                              </span>
                              <h4 class="my-3">Αρθρογραφία</h4>
                              <p class="text-muted">Μεριμνούμε για την αρθογραφία των κειμένων σας. Η θεματολογία ποικίλλει από μήνα σε μήνα και προκύπτει κατόπιν συνεννόησης με εσάς.</p>
                          </div>
                          <div class="col-md-4">
                              <span class="fa-stack fa-4x">
                                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                              </span>
                              <h4 class="my-3">Τηλεοπτικές Εκπομπές</h4>
                              <p class="text-muted"></p>
                          </div>
                      </div> -->
    </div>
</section>


<!-- Resume -->
<section class="page-section" id="resume">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Βιογραφικο</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>

        <div class="row">
            <div class="col">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="static/assets/img/laka2.jpg" alt="..." />
                    <h3>Ιωάννα Λάκα</h3>
                    <p class="text-muted">Πρόεδρος της Εταιρείας <br> Υγεία Support & Advisors</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/ioannalaka?lang=el"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://el-gr.facebook.com/pnjoanna"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                        href="https://www.linkedin.com/in/ioanna-laka-a7a48865/?originalSubdomain=gr"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="resume-text">
                    <p>Η Ιωάννα Λάκα γεννήθηκε στη Λάρισα και είναι Δημοσιογράφος και Συγγραφέας Υγείας με πολυετή και
                        σταθερή εμπειρία στο χώρο. Είναι απόφοιτη τμήματος Επικοινωνίας και Δημοσιογραφίας. Όπως η ίδια
                        αναφέρει, «Παρόλο που έμεινε ευχαριστημένη από τις σπουδές της στη Δημοσιογραφία, ένιωθε ότι
                        κάτι της έλειπε, και τελικά το βρήκε στον τομέα της Υγείας».
                        Έχει εργαστεί αρκετά χρόνια σε γραφεία τύπου, «χτίζοντας» και προωθώντας την εικόνα
                        διακεκριμένων προσωπικοτήτων. Αργότερα, έχοντας τις ικανότητες να διευθύνει και να οργανώσει
                        κάτι δικό της, προχώρησε στην δημιουργία της δικής εταιρείας με την επωνυμία <strong>
                            «ΥγείαSupport»</strong>. Ως πρόεδρος της εταιρείας, στόχος της είναι πάντα να εφαρμόζει όλες
                        τις ικανότητες που διαθέτει, ώστε να υποστηρίξει γνωστούς ιατρούς να ανελιχθούν στον τομέα τους,
                        δίνοντας ιδιαίτερη έμφαση στην προώθησή τους μέσω υπηρεσιών Digital Marketing.
                        Επιπλέον, η διαρκής παρουσία της τόσο στην τηλεόραση όσο και στο ραδιόφωνο, αποτελεί ακρογωνιαίο
                        λίθο για την συνέχεια του οράματος της. Διοργανώνει επίσης ιατρικές ημερίδες με την υποστήριξη
                        καταξιωμένων ιατρών, αποσκοπώντας στην ευαισθητοποίηση του κόσμου σχετικά με σημαντικά θέματα
                        υγείας.
                    </p>

                    <h3>Ιατρικές Ημερίδες και Συνέδρια</h3>
                    <p>
                        Οι ιατρικές ημερίδες και τα συνέδρια αποτελούν για την ίδια μία ιδιαίτερη στιγμή, καθώς έρχεται
                        πιο κοντά στον κόσμο και είναι σε θέση να ακούσει απόψεις, προβληματισμούς, ανησυχίες και να
                        προσφέρει φυσικά την βοήθεια της.
                        Οι ιατροί με τους οποίους συνεργάζεται βρίσκονται πάντα εκεί για να διαλευκάνουν με την
                        επιστημονική τους άποψη τα θέματα υγείας, τα οποία τίθενται προς συζήτηση, και καταφέρνουν να τα
                        κάνουν κατανοητά στον κόσμο καλύπτοντας όλες τις απορίες των παρευρισκόμενων.
                    </p>
                    <h3>
                        Φιλανθρωπική συνεισφορά</h3>
                    <p> Η Ιωάννα Λάκα είναι ιδιαίτερα γνωστή για την εξαίρετη φιλανθρωπική της δράση, ιδίως όσον αφορά
                        τον καρκίνο. Ταξιδεύει σε όλη την Ελλάδα για να βοηθήσει και να στηρίξει τις ευάλωτες ομάδες,
                        καθώς πιστεύει ιδιαίτερα στη σπουδαιότητα της ψυχικής δύναμης και της αισιοδοξίας που μπορούν να
                        επικρατήσουν έναντι οποιασδήποτε ασθένειας.
                        Ο κόσμος είναι το κίνητρο της να προχωρεί παρακάτω και να συνεχίζει το σπουδαίο έργο της. Οι
                        άνθρωποι αγκαλιάζουν πάντα τη δουλειά της και χωρίς την υποστήριξη τους δε θα μπορούσε να
                        συνεχίσει.
                    </p>

                    <h3> Βιβλία</h3>
                    <p>
                        Η Ιωάννα Λάκα δεν περιορίστηκε στην επιτυχία της στον επαγγελματικό τομέα, αλλά παράλληλα
                        αφιέρωσε χρόνο και δημιουργικότητα, ώστε να συγγράψει τρία καινοτόμα βιβλία με άξονα την
                        υποστήριξη της σημασίας της υγείας και της ευεξίας.
                        Το πρώτο της βιβλίο «Σταμάτα να τρως», εκδόθηκε το 2014 και αποτελεί ένα κράμα επιστήμης και
                        φαντασίας, ώστε να είναι κατανοητό στο ευρύ κοινό.
                        Στη συνέχεια, το 2016, συνέγραψε το δεύτερό της βιβλίο, «Ημερολόγιο Διατροφής-Ευεξίας», το οποίο
                        συνδυάζει γνώση και εμπειρία. Μέσα από μυθιστορηματική πλοκή, γίνεται το κλειδί της επιτυχίας
                        για ένα σωστό πρόγραμμα αδυνατίσματος.
                        Τέλος, το 2017, με το τρίτο της βιβλίο, «Το ταξίδι του εαυτού μου», δοκιμάζει ένα νέο εγχείρημα,
                        επιδιώκοντας να συνδέσει πρόσωπα, καταστάσεις, περιστατικά που αφορούν προβλήματα υγείας με μια
                        τεκμηριωμένη επιστημονική άποψη. Καρκίνος μαστού, βουλιμία και παιδική παχυσαρκία συνδέονται
                        άμεσα με ένα σημάδι-στίγμα.
                    <h3>Διακρίσεις</h3>
                    <p> Έχει κερδίσει επάξια τον τίτλο Writer Supporting Health-Diet, καθώς με την «πένα» της συνδυάζει
                        την επιστημονική γνώση με τη μυθιστορηματική πλοκή, παρέχοντας ισχυρά μέσα βοήθειας στο κοινό.
                        Συγκεκριμένα, βοηθάει τους ανθρώπους-κυρίως όσους αντιμετωπίζουν ιδιαίτερα προβλήματα υγείας- να
                        κατανοήσουν καλύτερα τα θέματα υγείας και διατροφής. Μάλιστα, ήταν η πρώτη στην Ελλάδα που
                        απέκτησε αυτόν τον τίτλο.
                        Επιπροσθέτως, έχει βραβευτεί από την UNESCO για το επιστημονικό της έργο.

                    </p>

                </div>

            </div>

        </div>



    </div>
</section>

<section class="page-section" id="company">
    <div class="container">

        <div class="">
            <h2 class="section-heading text-center text-uppercase">Υγεια Support & Advisors</h2>
            <h3 class="section-subheading text-center text-muted">Η εταιρεία ΥγείαSupport & Advisors παρεχει
                δημοσιογραφική κάλυψη και παραγωγές ιατρικού περιεχομένου (ραδιόφωνο και τηλεόραση). Η πολυετής εμπειρία
                μας στον χώρο της Υγείας καθιστά την εταιρεία μας, ως μια απο τις πλέον κατάλληλες στην διαχείριση του
                Digital Marketing για Επαγγελματίες Υγείας. Η εταιρεία επίσης αναλαμβάνει την εκπόνηση και την προβολή
                τηλεοπτικών και ραδιοφωνικών εκπομπών. Συγκεκριμένα, διαθέτει δική της εκπομπή, η οποία ονομάζεται
                ΥγείαSupport.</h3>
            <p>
                Το ιδιαίτερο γνώρισμα της εταιρείας είναι ότι δραστηριοποιείται αποκλειστικά τον τομέα της Ιατρικής,
                έχοντας πολύχρονη και σταθερή πορεία, και έχοντας αποκτήσει συνεργασία με έμπειρους και αναγνωρισμένους
                γιατρούς σε Ελλάδα και Κύπρο.</p>
            <p class="text-center text-danger"> Πρωτοπόροι στον τομέα μας!</p>
            <p> Η εταιρεία ΥγείαSupport Advisors προσφέρει υπηρεσίες Digital Marketing στον τομέα της Υγείας! </p>
            <p>Μεριμνούμε για:</p>
            <p> ✅ την αρθογραφία των κειμένων σας,</p>
            <p> ✅ την προώθηση του προφίλ σας μέσω Social Media και</p>
            <p> ✅ τη δημιουργία ή ανάπτυξη της επαγγελματικής σας σελίδας σε Facebook, LinkedIn, Instagram, Youtube με
                αναρτήσεις επιστημονικών θεμάτων.</p>
            <p class="mt-1 text-muted text-center"> Η θεματολογία ποικίλλει από μήνα σε μήνα και προκύπτει κατόπιν
                συνεννόησης με εσάς.</p>



        </div>




    </div>
</section>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <!-- <div class="container">
                      <div class="text-center">
                        <h2 class="section-heading text-uppercase">Βιβλια</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    
                      </div>
                      <div class="row">
                          <div class="col-lg-4 col-sm-6 mb-4">
                              <-- Portfolio item 1--@>
                              <div class="portfolio-item">
                                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                      <div class="portfolio-hover">
                                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                      </div>
                                      <img class="img-fluid" src="static/assets/img/portfolio/1.jpg" alt="..." />
                                  </a>
                                  <div class="portfolio-caption">
                                      <div class="portfolio-caption-heading">Threads</div>
                                      <div class="portfolio-caption-subheading text-muted">Illustration</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 mb-4">
                              <!-- Portfolio item 2--@>
                              <div class="portfolio-item">
                                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                      <div class="portfolio-hover">
                                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                      </div>
                                      <img class="img-fluid" src="static/assets/img/portfolio/2.jpg" alt="..." />
                                  </a>
                                  <div class="portfolio-caption">
                                      <div class="portfolio-caption-heading">Explore</div>
                                      <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 mb-4">
                              <!-- Portfolio item 3--@>
                              <div class="portfolio-item">
                                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                      <div class="portfolio-hover">
                                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                      </div>
                                      <img class="img-fluid" src="static/assets/img/portfolio/3.jpg" alt="..." />
                                  </a>
                                  <div class="portfolio-caption">
                                      <div class="portfolio-caption-heading">Finish</div>
                                      <div class="portfolio-caption-subheading text-muted">Identity</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                              <!-- Portfolio item 4-!->
                              <div class="portfolio-item">
                                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                      <div class="portfolio-hover">
                                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                      </div>
                                      <img class="img-fluid" src="static/assets/img/portfolio/4.jpg" alt="..." />
                                  </a>
                                  <div class="portfolio-caption">
                                      <div class="portfolio-caption-heading">Lines</div>
                                      <div class="portfolio-caption-subheading text-muted">Branding</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                              <!-- Portfolio item 5--@>
                              <div class="portfolio-item">
                                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                      <div class="portfolio-hover">
                                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                      </div>
                                      <img class="img-fluid" src="static/assets/img/portfolio/5.jpg" alt="..." />
                                  </a>
                                  <div class="portfolio-caption">
                                      <div class="portfolio-caption-heading">Southwest</div>
                                      <div class="portfolio-caption-subheading text-muted">Website Design</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <-- Portfolio item 6-@->
                              <div class="portfolio-item">
                                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                      <div class="portfolio-hover">
                                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                      </div>
                                      <img class="img-fluid" src="static/assets/img/portfolio/6.jpg" alt="..." />
                                  </a>
                                  <div class="portfolio-caption">
                                      <div class="portfolio-caption-heading">Window</div>
                                      <div class="portfolio-caption-subheading text-muted">Photography</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Βιβλια</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <!-- <ul class="timeline">
                          <li>
                              <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/1.jpg" alt="..." /></div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>2009-2011</h4>
                                      <h4 class="subheading">Our Humble Beginnings</h4>
                                  </div>
                                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/2.jpg" alt="..." /></div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>March 2011</h4>
                                      <h4 class="subheading">An Agency is Born</h4>
                                  </div>
                                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/3.jpg" alt="..." /></div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>December 2015</h4>
                                      <h4 class="subheading">Transition to Full Service</h4>
                                  </div>
                                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/4.jpg" alt="..." /></div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>July 2020</h4>
                                      <h4 class="subheading">Phase Two Expansion</h4>
                                  </div>
                                  <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <h4>
                                      Be Part
                                      <br />
                                      Of Our
                                      <br />
                                      Story!
                                  </h4>
                              </div>
                          </li>
                      </ul> -->
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <!-- <div class="container">
                      <div class="text-center">
                          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                      </div>
                      <div class="row">
                          <div class="col-lg-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="static/assets/img/team/1.jpg" alt="..." />
                                  <h4>Parveen Anand</h4>
                                  <p class="text-muted">Lead Designer</p>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="static/assets/img/team/2.jpg" alt="..." />
                                  <h4>Diana Petersen</h4>
                                  <p class="text-muted">Lead Marketer</p>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="static/assets/img/team/3.jpg" alt="..." />
                                  <h4>Larry Parker</h4>
                                  <p class="text-muted">Lead Developer</p>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                      </div>
                  </div> -->
</section>
<!-- Clients-->
<div class="py-5">
    <div class="container">
        <!-- <div class="row align-items-center">
                          <div class="col-md-3 col-sm-6 my-3">
                              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/microsoft.svg" alt="..." /></a>
                          </div>
                          <div class="col-md-3 col-sm-6 my-3">
                              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/google.svg" alt="..." /></a>
                          </div>
                          <div class="col-md-3 col-sm-6 my-3">
                              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/facebook.svg" alt="..." /></a>
                          </div>
                          <div class="col-md-3 col-sm-6 my-3">
                              <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/ibm.svg" alt="..." /></a>
                          </div>
                      </div> -->
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Επικοινωνια</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *"
                            data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *"
                            data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *"
                            data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                        </div>
                    </div>

                    <div class="form-group mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *"
                            data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>

                </div>
                <!-- Contact info-->
                <div class="container text-center col-md-6 bg-light rounded-circle">
                    <div class="mb-md-0 mt-3">

                        <h4>CONTACT INFO</h4>


                    </div>
                    <div class="mb-md-0">

                        <p class="text-center text-uppercas "> ΥΓΕΙΑ SUPPORT & ADVISORS </p>
                        <p class="text-muted">Lead Marketer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter" target="_blank"
                                rel="noreferrer noopener"></i></a>
                        <a class="btn btn-info btn-social mx-2" href="#!"><i class="fab fa-facebook-f" target="_blank"
                                rel="noreferrer noopener"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in" target="_blank"
                                rel="noreferrer noopener">linkedin</i></a>

                    </div>

                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a
                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton"
                    type="submit">Send Message</button></div>
        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2021</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="close-modal" data-bs-dismiss="modal"><img src="static/assets/img/close-icon.svg" alt="Close modal" /></div>
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-lg-8">
                                      <div class="modal-body">
                                          <!-- Project details--g>
                                          <h2 class="text-uppercase">Project Name</h2>
                                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                          <img class="img-fluid d-block mx-auto" src="static/assets/img/portfolio/1.jpg" alt="..." />
                                          <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                          <ul class="list-inline">
                                              <li>
                                                  <strong>Client:</strong>
                                                  Threads
                                              </li>
                                              <li>
                                                  <strong>Category:</strong>
                                                  Illustration
                                              </li>
                                          </ul>
                                          <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                              <i class="fas fa-times me-1"></i>
                                              Close Project
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Portfolio item 2 modal popup--g>
              <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="close-modal" data-bs-dismiss="modal"><img src="static/assets/img/close-icon.svg" alt="Close modal" /></div>
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-lg-8">
                                      <div class="modal-body">
                                          <!-- Project details--g>
                                          <h2 class="text-uppercase">Project Name</h2>
                                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                          <img class="img-fluid d-block mx-auto" src="static/assets/img/portfolio/2.jpg" alt="..." />
                                          <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                          <ul class="list-inline">
                                              <li>
                                                  <strong>Client:</strong>
                                                  Explore
                                              </li>
                                              <li>
                                                  <strong>Category:</strong>
                                                  Graphic Design
                                              </li>
                                          </ul>
                                          <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                              <i class="fas fa-times me-1"></i>
                                              Close Project
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Portfolio item 3 modal popup--g>
              <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="close-modal" data-bs-dismiss="modal"><img src="static/assets/img/close-icon.svg" alt="Close modal" /></div>
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-lg-8">
                                      <div class="modal-body">
                                          <!-- Project details--g>
                                          <h2 class="text-uppercase">Project Name</h2>
                                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                          <img class="img-fluid d-block mx-auto" src="static/assets/img/portfolio/3.jpg" alt="..." />
                                          <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                          <ul class="list-inline">
                                              <li>
                                                  <strong>Client:</strong>
                                                  Finish
                                              </li>
                                              <li>
                                                  <strong>Category:</strong>
                                                  Identity
                                              </li>
                                          </ul>
                                          <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                              <i class="fas fa-times me-1"></i>
                                              Close Project
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Portfolio item 4 modal popup--g>
              <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="close-modal" data-bs-dismiss="modal"><img src="static/assets/img/close-icon.svg" alt="Close modal" /></div>
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-lg-8">
                                      <div class="modal-body">
                                          <!-- Project details--g>
                                          <h2 class="text-uppercase">Project Name</h2>
                                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                          <img class="img-fluid d-block mx-auto" src="static/assets/img/portfolio/4.jpg" alt="..." />
                                          <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                          <ul class="list-inline">
                                              <li>
                                                  <strong>Client:</strong>
                                                  Lines
                                              </li>
                                              <li>
                                                  <strong>Category:</strong>
                                                  Branding
                                              </li>
                                          </ul>
                                          <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                              <i class="fas fa-times me-1"></i>
                                              Close Project
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Portfolio item 5 modal popup--g>
              <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="close-modal" data-bs-dismiss="modal"><img src="static/assets/img/close-icon.svg" alt="Close modal" /></div>
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-lg-8">
                                      <div class="modal-body">
                                          <!-- Project details--g>
                                          <h2 class="text-uppercase">Project Name</h2>
                                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                          <img class="img-fluid d-block mx-auto" src="static/assets/img/portfolio/5.jpg" alt="..." />
                                          <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                          <ul class="list-inline">
                                              <li>
                                                  <strong>Client:</strong>
                                                  Southwest
                                              </li>
                                              <li>
                                                  <strong>Category:</strong>
                                                  Website Design
                                              </li>
                                          </ul>
                                          <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                              <i class="fas fa-times me-1"></i>
                                              Close Project
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Portfolio item 6 modal popup--g>
              <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="close-modal" data-bs-dismiss="modal"><img src="static/assets/img/close-icon.svg" alt="Close modal" /></div>
                          <div class="container">
                              <div class="row justify-content-center">
                                  <div class="col-lg-8">
                                      <div class="modal-body">
                                          <!-- Project details--g>
                                          <h2 class="text-uppercase">Project Name</h2>
                                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                          <img class="img-fluid d-block mx-auto" src="static/assets/img/portfolio/6.jpg" alt="..." />
                                          <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                          <ul class="list-inline">
                                              <li>
                                                  <strong>Client:</strong>
                                                  Window
                                              </li>
                                              <li>
                                                  <strong>Category:</strong>
                                                  Photography
                                              </li>
                                          </ul>
                                          <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                              <i class="fas fa-times me-1"></i>
                                              Close Project
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->

<!-- <div
  id="carouselExampleCrossfade"
  class="carousel  carousel-fade"
  data-mdb-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://mdbootstrap.com/img/new/slides/041.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/new/slides/042.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/new/slides/043.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselExampleCrossfade"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselExampleCrossfade"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->









<!-- <h1 class="text-center">{% block title %}Posts{% endblock %}</h1> -->



<!--{% for post in posts %}
        <div class="card mt-3" style="width: auto;">
            <div class="card-body">
            <h3 class="card-title">{{ post['title'] }}</h3>
            <h6 class="card-subtitle mb-2 text-muted"><small> by <b> {{ post['username'] }} </b>on {{ post['created'].strftime('%d/%m/%Y, %H:%M:%S') }} UTC</small></h6>
            <p class="card-text">{{ post['body'] }}</p>

            {% if g.user['id'] == post['author_id'] %}
            
                <a class="card-link badge badge-pill badge-secondary" href="{{ url_for('blog.update', id=post['id']) }}"><i class="fa fa-pencil-square-o"></i> Edit</a>

                <a  class="card-link badge badge-pill badge-danger"  href="{{url_for('blog.delete', id=post['id']) }}" onclick="return confirm('Are you sure?');"><i class="fa fa-times"></i> Delete</a>
            
            {% endif %}
             <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
<!-- </div>
        </div>
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article> -->
<!-- {% if not loop.last %}
       <hr> 
    {% endif %}
  {% endfor %} -->
</body>
{% endblock %}