{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}

<section class="services"> 
    
    <div class="text-center">
        <h3 >Υπηρεσίες</h3>
    </div>
    <section id="DigitalMarketing">
        <div class="row mt-1">

            <div class="col-md-6"> 
            
                <h2 class="">Digital Marketing</h2>

                <p>Η εταιρεία μας αναλαμβάνει την <strong>ανάπτυξη</strong> και <strong>προώθηση</strong> των επαγγελματικών σας προφίλ στα <strong>Social Media</strong>, κάνοντας <strong>εβδομαδιαίες</strong> <strong>αναρτήσεις</strong>, ώστε να επιτευχθεί η <strong>συμμετοχικότητα</strong> (<strong>engagement</strong>) του κοινού-εν δυνάμει <strong>πελατολογίου</strong> σας.<br><br>Κατόπιν συνεννόησης με εσάς, πραγματοποιείται <strong>προώθηση</strong> των σελίδων σας κάνοντας <strong>διαφημίσεις</strong> και χρησιμοποιώντας το <strong>SEO</strong> (<strong>Search Engine Optimization</strong>) ή αλλιώς τη <strong>Βελτιστοποίηση Ιστοσελίδων</strong> <strong>για</strong> <strong>τις Μηχανές</strong> <strong>Αναζήτησης</strong>, <strong>βελτιώνοντας</strong> έτσι διαρκώς τη <strong>δομή</strong>, το <strong>περιεχόμενο</strong> και τα <strong>τεχνικά χαρακτηριστικά</strong> των σελίδων σας, ώστε να είναι «<strong>φιλικές</strong>» προς τους χρήστες και τις μηχανές αναζήτησης του διαδικτύου.</p>
            </div>
        
        </div>
    </section>
    <section id="Συγγραφή Θεματολογίας & Αρθρογραφία">
        <div class="row mt-1">

            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>

            <div class="col-md-6" style="align-self: right;"> 

                <h2 class="">Συγγραφή Θεματολογίας & Αρθρογραφία</h2>

                <p>Αναλαμβάνουμε τη <strong>συγγραφή</strong> <strong>θεματολογιών</strong> για δημοσίευση στα <strong>Social</strong> <strong>Media</strong> εξατομικευμενά για τον κάθε <strong>γιατρό</strong> ανάλογα με την <strong>ειδικότητα</strong> με σκοπό να αναδείξουμε το <strong>επιστημονικό</strong> <strong>κύρος</strong>. Η θεματολογία αλλάζει από μήνα σε μήνα και προκύπτει από τις δικές σας <strong>ανάγκες</strong> ή από την <strong>επικαιρότητα</strong>. Επίσης, <strong>συγγράφουμε συνεντεύξεις</strong> σας, με θέμα που προκύπτει από τη συνεννόησή μας, και το οποίο προορίζεται για δημοσίευση σε γνωστά <strong>site</strong>, με απώτερο σκοπό την ευρύτερη <strong>αναγνωσιμότητά</strong> σας.</p>
            
            </div>
        
        </div>
    </section>
    <section id="Τηλεοπτική και Ραδιοφωνική Εκπομπή «ΥγείαSupport»">
        <div class="row mt-1">

            <div class="row">

                <div class="col-md-6"> 
                
                    <h2 class="">Τηλεοπτική και Ραδιοφωνική Εκπομπή «ΥγείαSupport»</h2>

                    <p>Η εταιρεία <strong>ΥγείαSupport</strong> <strong>&amp; Advisors</strong> διαθέτει δική της <strong>ομώνυμη εκπομπή</strong>, η οποία <strong>προβάλλεται εβδομαδιαία</strong> σε <strong>κανάλια</strong> και <strong>σταθμούς</strong> που θεωρούμε ότι την αναδεικνύουν. Η εκπομπή διενεργείται σε μορφή <strong>συνέντευξης</strong> ή <strong>συζήτησης</strong> με τον εκάστοτε <strong>ιατρό</strong> και η <strong>θεματολογία</strong> της είναι αποκλειστικά <strong>ιατρικού περιεχομένου</strong>. Τα <strong>θέματα</strong>, επίσης, <strong>ποικίλλουν</strong> και προκύπτουν έπειτα από τη <strong>μεταξύ μας συνεννόηση</strong> και ανάλογα με την <strong>επικαιρότητα</strong>.</p>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">

                    <iframe width="100%" height="380px"
                    src="https://www.youtube.com/embed/jvpZNJ9k4g0">
                    </iframe>

                </div>

                <div class="col">

                

                    <div class="row"><iframe width="100%" height="76px"
                        src="https://www.youtube.com/embed/4nVW8C7BYHc">
                        </iframe></div>
                    <div class="row"><iframe width="100%" height="76px"
                        src="https://www.youtube.com/embed/pFMPUBlO1no">
                        </iframe></div>
                    <div class="row"><iframe width="100%" height="76px"
                        src="https://www.youtube.com/embed/pFpH9Mrz0gA">
                        </iframe></div>
                    <div class="row"><iframe width="100%" height="76px"
                        src="https://www.youtube.com/embed/UlSFkpo4QrQ">
                        </iframe></div>
                    
                    <div class="row"><iframe width="100%" height="76px"
                        src="https://www.youtube.com/embed/4nVW8C7BYHc">
                        </iframe></div>

                </div>

                <div class="col"></div>
                <div class="col"></div>

            </div>

        </div>
    </section>
    <section id="Διοργάνωση Ιατρικών Ημερίδων και Συνεδρίων">
        <div class="row mt-1">
            
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>

            <div class="col-md-6" style="align-self: right;"> 

                <h2 class="">Διοργάνωση Ιατρικών Ημερίδων και Συνεδρίων</h2>

                <p>Οι <strong>ιατρικές</strong> <strong>ημερίδες</strong> <strong>διοργανώνονται</strong> μία φορά το μήνα σε <strong>διαφορετικές περιοχές της Αθήνας</strong>, αλλά <strong>συχνά</strong> και <strong>εκτός</strong> <strong>Αθηνών</strong>. Η <strong>θεματολογία</strong> <strong>εναλλάσσεται</strong> και <strong>κάθε</strong> <strong>φορά</strong> <strong>πραγματεύεται</strong> και <strong>διαφορετικό θέμα</strong>, του οποίου η <strong>επιλογή</strong> δεν είναι <strong>ποτέ</strong> <strong>τυχαία,</strong> αλλά γίνεται με βάση την <strong>επικαιρότητα</strong>, καθώς και τις <strong>ανησυχίες</strong> του <strong>κόσμου</strong>.</p>
            </div>
        
        </div>
    </section>


</section>
{% endblock %}