{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}

<!-- <section class="masthead " id="eshop"> 
    <div class="bg-dark text-center pt-5">
        <h2 class="section-heading text-uppercase">Τηλεοπτικη Εκπομπη ΥγειαSupport</h2>
        <p class="section-subheading text-muted">Η εταιρεία μας διαθέτει την ομώνυμη τηλεοπτική εκπομπή ΥγείαSupport, η οποία πραγματοποιείται στο χώρο του ιατρείου σας! Κατανοώντας το αυστηρό και φορτωμένο σας πρόγραμμα, ερχόμαστε στο ιατρείο σας και με το δικό μας συνεργείο και ξεκινάμε το γύρισμα της εκπομπής! Οργανωμένα και σε σύντομο χρονικό διάστημα, δημιουργούμε ένα οικείο και φιλικό κλίμα, ώστε η συνέντευξη με τον κάθε ιατρό να παίρνει τη μορφή συζήτησης. Στόχος είναι και πάλι η αύξηση της αναγνωρισιμότητάς σας και η άμεση επαφή με το κοινό. Ο ιατρικός κλάδος και η επιστήμη διαθέτουν πληθώρα εξεζητημένων εννοιών και λέξεων, που πολλές φορές δεν γίνονται κατανοητές στο κοινό. Έτσι, πάντα με την ορθή χρήση της γλώσσας, αλλά με απλό και κατανοητό τρόπο, καταφέρνουμε να επικοινωνήσουμε στους ανθρώπους το ιατρικό θέμα που έχει επιλεχθεί για το κάθε επεισόδιο, απομακρύνοντας το φόβο και την άγνοια! Χάρη στο ευρύ δίκτυο γνωριμιών μας, οι εκπομπές προβάλλονται όχι μόνο σε τηλεοπτικού σταθμούς των Αθηνών- όπου βρίσκεται και η έδρα μας- αλλά και σταθμούς ολόκληρης της Ελλάδας!
        </p>
    
      </div>
</section> -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Calendar #04</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="content w-100">
          <div class="calendar-container">
            <div class="calendar"> 
              <div class="year-header"> 
                <span class="left-button fa fa-chevron-left" id="prev"> </span> 
                <span class="year" id="label"></span> 
                <span class="right-button fa fa-chevron-right" id="next"> </span>
              </div> 
              <table class="months-table w-100"> 
                <tbody>
                  <tr class="months-row">
                    <td class="month">Jan</td> 
                    <td class="month">Feb</td> 
                    <td class="month">Mar</td> 
                    <td class="month">Apr</td> 
                    <td class="month">May</td> 
                    <td class="month">Jun</td> 
                    <td class="month">Jul</td>
                    <td class="month">Aug</td> 
                    <td class="month">Sep</td> 
                    <td class="month">Oct</td>          
                    <td class="month">Nov</td>
                    <td class="month">Dec</td>
                  </tr>
                </tbody>
              </table> 
              
              <table class="days-table w-100"> 
                <td class="day">Sun</td> 
                <td class="day">Mon</td> 
                <td class="day">Tue</td> 
                <td class="day">Wed</td> 
                <td class="day">Thu</td> 
                <td class="day">Fri</td> 
                <td class="day">Sat</td>
              </table> 
              <div class="frame"> 
                <table class="dates-table w-100"> 
                  <tbody class="tbody">             
                  </tbody> 
                </table>
              </div> 
              <button class="button" id="add-button">Add Event</button>
            </div>
          </div>
          <div class="events-container">
          </div>
          <div class="dialog" id="dialog">
              <h2 class="dialog-header"> Add New Event </h2>
              <form class="form" id="form">
                <div class="form-container" >
                  <label class="form-label" id="valueFromMyButton" for="name">Event name</label>
                  <input class="input" type="text" id="name" maxlength="36">
                  <label class="form-label" id="valueFromMyButton" for="count">Number of people to invite</label>
                  <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
                  <input type="button" value="Cancel" class="button" id="cancel-button">
                  <input type="button" value="OK" class="button button-white" id="ok-button">
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}