
/*!
* Start Bootstrap - Agency v7.0.5 (https://startbootstrap.com/theme/agency)
* Copyright 2013-2021 Start Bootstrap
* Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-agency/blob/master/LICENSE)
*/
/*!
 * Bootstrap v5.0.2 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */



html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

.page-section {
  margin-top: 90px;

  /* padding: 2rem 0; */
  min-height: 100vh;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Cera GR", sans-serif;
  /* font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  section {
    padding: 2rem 0;
  }
}
.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.top-bar {
  height: 85px;
  width: 100%;
  /* padding: 0; */
  align-content: center;
  /* background: #b7b9b9e5;  */
  /* color: #000; */
  color:rgb(255, 255, 255);
  top: 0;
  position: fixed;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  -webkit-transition: all padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  z-index: 1000;
  /* background-image: linear-gradient(90deg, rgb(0, 17, 255), rgb(102, 255, 0)); */
}
.top-bar a {
  color:rgb(255, 255, 255) 
  

}
  .top-bar a:hover {
    color:rgb(0, 60, 255) 
  }
  .top-bar .a {
    padding-top: 0px; 
    cursor: pointer;
    display: inline-block;
    background-color: #000;

  }

#mainNav {
  position: fixed;
  padding-top: 75px;
  /* top: 70px; */
  min-height: 100px;
  height: auto;
  width: 100%;
  /* padding-top: 0px;
  padding-bottom: 0px; */

  margin-top: 0px;
  background-color: #ffffff !important;
  /* background: rgba(44, 173, 152, 0.658) ;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16.0px );
-webkit-backdrop-filter: blur( 16.0px ); */
border-radius: 0px 0px 15px 15px ;
-webkit-border-radius: all 0px 0px 15px 15px ;
border: 1px solid rgba( 255, 255, 255, 0.18 );

 
/* background: rgba( 18, 112, 163, 0.25 ); */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
/* z-index: 2500; */
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}



#mainNav .navbar-toggler {
  position:fixed;
  top: 55px;
  right: 10px;
  padding: 0rem;
  font-size: 1.5rem;

  /* font-family: "Cera GR", sans-serif; */
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 1rem;
 
  color: rgb(18, 112, 163);

}
#mainNav .navbar-brand {
  top: 15px;
  left: 0px;
  margin: auto;
  position: fixed;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  position:absolute;
  /* position: fixed; */
/* float: left; */
  /* padding-top: 0px; */
  /* margin-top: 0px; */
  /* align-self: left !important; */
  height: 6rem;
  /* padding: 0; */
  /* width: 100%; */
}

#mainNav .container-fluid .collapse .navbar-collapse {
  position: relative;
  /* align-self: center; */
  /* margin-top: 0; */

  top: 125px !important;
  background-color: #ffffffe5;
}

#mainNav .navbar-nav .nav-item .nav-link {
  position :relative;
  /* top: 0px; */
  font-family: "Cera GR", sans-serif;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 0.85rem;
  color: rgb(18, 112, 163);
  letter-spacing: 0.0625em;
  /* float: right; */
  margin-right: 0px;
  /* align: right !important; */

}

#mainNav .navbar-nav .nav-item .nav-link.show {
  /* top: 0px !important; */
  /* position :relative; */
  /* font-family: "Cera GR", sans-serif; */
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 1rem;
  color: rgb(18, 112, 163);
  letter-spacing: 0.0625em;
  /* float: right; */
  /* margin-right: 0px; */
  /* align: right !important; */
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: rgb(164, 226, 53);
  background-color: rgb(18, 112, 163);
  border-radius: 10px;
}



/* 
.navbar-collapse.collapsing,
.navbar-collapse.show {
  width: 100%;
  align-self: right;
position: relative;
    margin-top: 79px !important; 
    background-color: #ffffffe5;
} */

@media (min-width: 992px) {
  #mainNav {
   /* height: ; */
   
    /* background-color: #0d6efd ; */
    /* padding-top: 0rem;
    padding-bottom: 0rem; */
    border: none;
    /* background-color:blueviolet; */
    /* transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    -webkit-transition: all padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out; */

  }
  #mainNav .navbar-brand {
    font-size: 5em;
    transition: font-size 0.3s ease-in-out;
    -webkit-transition: all font-size 0.3s ease-in-out;

  }
  #mainNav .navbar-brand img {
    height: 8rem;
    transition: height 0.5s ease-in-out;
    -webkit-transition: all height 0.5s ease-in-out;

  }
  /* meta to scroll se large screen */
  #mainNav.navbar-shrink {
    padding-top: 0rem;
    padding-bottom: 0rem;
    /* background-color: #2c7ccc !important; */
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 6rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 0rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
header.masthead {
  align-content: center;
  min-height: 100vh;
  /* padding-top: 1rem; */
  /* padding-bottom: 6rem; */
  text-align: center;
  color: #fff;
  /* background-color: e4ebebe5; */
  margin-top: 91px;
  /* background-color: rgb(148, 255, 255); */
  /* background-image: url("../assets/img/laka-bg.jpg"); 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover; */
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-top: 230px;
  font-family: "Cera GR", sans-serif;
 
  /* font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Cera GR", sans-serif;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

@media (min-width: 768px) {
  #mainNav .container-fluid .collapse .navbar-collapse {
    position: relative;
    align-self: right;
    
    /* margin-top: 0; */
    padding-top: 1px;
    right: 0;
    background-color: #ffffffe5;
  }
  /* header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  } */
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}



section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Cera GR", sans-serif;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: "Cera GR", sans-serif;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Cera GR", sans-serif;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Cera GR", sans-serif;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-weight: 700;
  color: #ced4da;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: "Cera GR", sans-serif;

}


#eshopBtn {
  width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(164, 226, 53, 0.75);
}

#eshopBtn:hover {
  border-radius: 0px 0px 10px 10px !important;
  background-color: rgb(18, 112, 163);
}


#eshop {
   

  top: 76px;
  bottom: 0;
    left: 0;
    /* overflow: hidden; */
    /* position: absolute; */
    left: 0;
    /* top: 56px; */
    z-index: 1;


  /* display: block; */
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background-position-y: 109px ; */

/* 

    min-height: 100vh;
    min-width:100vh
  */
    
    /* max-width: 100%; */
    /* max-height: 100vh; */
        /* margin: auto; */
    
    /* Set up proportionate scaling */
    /* width: auto; */
    /* height: 100%; */
    /* background-image:url("/static/img/SocialVideo.mov") ; */
  /* background-image: url("/static/assets/img/eshopLaka.jpeg");  */
  /* background-repeat: repeat-x;
  background-repeat: repeat-y; */
  /* background-repeat: no-repeat; */
  /* background-attachment: scroll; */
  /* z-index: -100; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-position-y: 109px ; */
  /* background-size: contain; */
  /* background-color: rgb(255, 255, 255); */

}

/* .services {

  padding: 25px;
  text-align: justify;
} */


.footerdiv{ 
    position: flex;
    align-content: center;
    max-height:auto; 
    background:PapayaWhip; 
    position: fixed;
    bottom: 0;
    text-align: center;
  }

 


  @keyframes slide-up {
    from {
        
        opacity: .25;
        line-height: 500px;
    }
    to {
        
        opacity: 1;
        line-height: 25px;
    }
}

.slide-up {
    animation: slide-up 3s;
}


/* cards e-shop */
.section_our_solution .row {
  align-items: center;
  
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 10px;
  padding: 10px 15px;
  position:relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  text-align: center;
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: relative;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  -webkit-transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff ;

  align-items: center;
  color: #ececec !important;
}

.solution_card .so_top_icon {
  align-self: center;
}

.solution_card .solu_title h3 {

align-items: center;
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  /* border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #ca4242 0%,
    #ca4242 50%,
    #f86622e8 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px; */
  /* background-color: #1c87c9; */
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: "Cera GR", sans-serif;
  /* font-family: serif; */
  font-size: 500;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  animation: glowing 1300ms infinite;
  -webkit-animation: all growing 1300ms infinite;
  align-items: center;
  
}
@keyframes glowing {
  0% {
    background-color: #a80505;
    box-shadow: 0 0 5px #a80505;
  }
  50% {
    background-color: #e81919;
    box-shadow: 0 0 20px #e81919;
  }
  100% {
    background-color: #a80505;
    box-shadow: 0 0 5px #a80505;
  }
}


.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}


.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;

  -webkit-transform: rotate(-36deg);
  /* -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg); */

 
  transition: all 0.7s;

  -webkit-transition: 0.7s;
  /* -moz-transition: 0.7s;
  -ms-transition: 0.7s; */
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  background: rgb(255, 255, 255);
  /* overflow: hidden; */
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;

}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
  
}

#navbarResponsive .collapse .navbar-collapse  {
  display: flex;
  /* align-content: flex-start; */
  /* text-align: right; */
  position: absolute;
  /* margin-right: 2px !important; */
  background-color: #000 !important;
}

/*start media query*/
@media screen and (min-width: 320px) {

  .navbarCustom {

    /* overflow:hidden ; */
  /* position: relative !important; */
    /* background-color: #2a41a7e5 ; */
    border-radius: 0 0px 0x 16px !important;
    /* margin-top:0px ;
    padding-top: 0px; */
  /* height: 50px !important; */
  }


  #mainNav .container-fluid .collapse .navbar-collapse {
    position: relative;
    align-self: center;
    /* margin-top: 0; */
    padding-top: 100px !important;
    background-color: #ffffffe5 !important;
  }

  .section_our_solution img {
    

    border-radius: 20px 2px 2px 20px !important;
    -webkit-border-radius: 20px 2px 2px 20px !important;
      
    }
    .section_our_solution .eshop_title .card {
      border-radius: 2px 20px 20px 2px !important;
      -webkit-border-radius: 2px 20px 20px 2px !important;
    }
  
  .section_our_solution  .eshop_title h5 {
    font-size: 10px !important;
    -webkit-font-size: 10px !important;      
    }
    .section_our_solution  .eshop_title h3 {
      font-size: 10px !important;
      -webkit-font-size: 0px !important;
      }
    .section_our_solution  .eshop_title p {
      font-size: 10px !important;
      -webkit-font-size: 10px !important;
      }
  
  .sol_card_top_3 {
    position: relative;
    top: 0;
   }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }




} 

@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }


.eshop_title {
font-size: 70%;
  
}

.section_our_solution  .eshop_title h5 {
  font-size: 35px !important;
  -webkit-font-size: 35px !important;      
  }
  .section_our_solution  .eshop_title h3 {
    font-size: 35px !important;
    -webkit-font-size: 35px !important;
    }
  .section_our_solution  .eshop_title p {
    font-size: 20px !important;
    -webkit-font-size: 20px !important;
    }

    .section_our_solution img {
  

      border-radius: 60px 2px 2px 60px !important;
      -webkit-border-radius: 60px 2px 2px 60px !important;
        
      }
      .section_our_solution .eshop_title .card {
        border-radius: 2px 60px 60px 2px !important;
        -webkit-border-radius: 2px 60px 60px 2px !important;
      }

}
@media only screen and (min-width: 1024px) {
  .top-bar {
    display: flex;
    height: 30px;
    width: 100%;
 
  /* color: #08a708 !important; */
    background: #b7b9b9e5; 
  top: 0;
    position: fixed;
    z-index: 2001;
  }  

  .sol_card_col3 {
position:fixed;
    top: -8rem;
}

  .sol_card_top_3 {
    position: relative;
    top: 0rem;
  }
  .our_solution_category {
    width: 80%;
    margin: 0 auto;
  }

  .section_our_solution  .eshop_title h5 {
    font-size: 35px !important;
    -webkit-font-size: 35px !important;      
    }
    .section_our_solution  .eshop_title h3 {
      font-size: 35px !important;
      -webkit-font-size: 35px !important;
      }
    .section_our_solution  .eshop_title p {
      font-size: 20px !important;
      -webkit-font-size: 20px !important;
      }

      .section_our_solution img {
    

        border-radius: 60px 2px 2px 60px !important;
        -webkit-border-radius: 60px 2px 2px 60px !important;
          
        }
        .section_our_solution .eshop_title .card {
          border-radius: 2px 60px 60px 2px !important;
          -webkit-border-radius: 2px 60px 60px 2px !important;
        }
}



/* FLIP CARD E_SHOP */
/* .flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 350px;
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;

  transition: all 0.6s;
  -webkit-transition:0.6s;
  -moz-transition:  0.6s;
  -ms-transition:  0.6s;
  
  transform-style: preserve-3d;
  
  
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;


}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  text-align: center;

  color: black;
 
}

.flip-card-back {
  text-align: center;
 
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: transparent;
  position: absolute;
  top: 0; right: 0; bottom: 1rem; left: 0;

} */

/* .flip-card.flip .flip-card-front{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
    z-index:0;
}
.flip-card.flip .flip-card-back{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
    z-index:10;
} */

.btn-buy {
  /* border-radius: 20%; */
  color: #ffffff !important;
  background-color: #a80505 !important;
}

.btn-buy:hover {
  color: #ffffff !important;
  background-color: #ff0000 !important;
}


.btn-buy span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  /* color: #08a708; */
  /* background-color: #a80505; */

}

.btn-buy span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  
}

.btn-buy:hover span {
  padding-right: 25px;
  /* color: #014bbb ; */
  /* background-color: #ff0000; */

}

.btn-buy:hover span:after {
  opacity: 1;
  right: 0;
}


/* LOADER */

.loader {
  /* width: 100%;
	height: 100%; */
	position: fixed;
	/* background-color:#FFF; */
	/* z-index: 999999; */

  /* position: absolute; */
	/* width: auto;
	height:auto; */
	margin: -25px 0 0 -25px;
	top:50%;
	left:50%;
	text-align:center;
z-index: 3000;

  color: #e200ea;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  /* margin: 72px auto; */
  /* position: relative; */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  /* -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease; */
  
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/* 
body{
  margin: 0;
  padding: 0;
  background-image: url(https://i.postimg.cc/dQZssk2d/1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  font-family: poppins;
}*/

.wrapper{ 
  
  /* margin: 1% 3%; */
  /* align-items: flex-end; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;


}
.wrapper h2{
  /* text-transform: uppercase; */
  font-family: "Cera GR", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: #fff;
  /* margin: 0; */
}
.single-service {

  /* max-width: 20rem; */

min-width: 250px;
max-width: min-content;
/* max-width: 250px; */
/* min-height: fit-content; */
position: relative;
/* width: 31%; */
/* height: auto; */
background: #fff;
box-sizing: border-box;
box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
0 5px 15px 0 rgba(37, 44, 97, 0.15);
padding: 30px 15px;
transition: .5s;
-webkit-transition: all .5s;
overflow: hidden;
float: center;
margin: 0 10px;
text-align: center;
/* -ms-flex-align: center; */
}
.line {
width: 150px;
height: 3px;
background: #fff;
margin: 0 auto 60px auto;
}
.single-service p{            
  color: #262626;
  font-size: 14px;
}
.single-service h3 {
  font-size: 25px;
  /* text-transform: uppercase; */
  font-family: "Cera GR", sans-serif;
  /* font-family: poppins; */
  letter-spacing: 1px;
  color: #262626;
}
/* .social {
width: 60px;
height: 60px;
background: #0e47c2;
border-radius: 50%;
margin: 5% auto;
}
.social i {
font-size: 30px;
padding: 15px;
  color: rgb(192, 38, 38);
} */



.single-service:hover button {
  
  background-color:#08a708;
  color: #ffffff;

}

.single-service:hover p {
  
  color:#ffffff;

}

.single-service:hover{
  border-radius: 0px 100px / 120px;
  box-shadow: 0 30px 35px rgba(0,0,0,0.7);
  background-color: #014bbb;
  color: #ffffff;
  
}
.single-service span {
position: absolute;
top: 0;
left: -115%;
width: 100%;
height: 100%;
background: rgba(18, 200, 255, 0.7);
transition: .7s;
-webkit-transition: .7s;
transform: skewX(10deg);
-webkit-transform: skewX(10deg);
}
.single-service:hover span{
  left: 110%;
}



@media screen and (min-width: 320px) {


  .wrapper{
    display: flex;
    position: relative;
    top: 0;
   }

  .single-service {
  
    width: 100%;
    margin: 0 auto;
  }

  .wrapper {
    flex: auto;
  }
  .top-bar {
    display: flex;
    height: 10px;
    width: 100%;
  /* color: #08a708 !important; */
    background: #b7b9b9e5; 
  top: 0;
    position: fixed;
    z-index: 2001;
  }  
  .top-bar .row{
  font-size: 1rem;
  }

  
} 

.top-bar {
  display: inline-block;
  height: 25px;
  width: 100%;
/* color: #08a708 !important; */
  /* background: #b7b9b9e5;  */
top: 0;
  position: fixed;
  z-index: 2001;
}  
.top-bar .row{
font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .wrapper{
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper{
    position: relative;
    top: -3rem;
  }
  /* .our_solution_category {
    width: 50%;
    margin: 0 auto;
  } */
}





/* video bg eshop */

#myVideo {


  min-height: 100%;
  left: auto;

  min-width: 100%;
  right: 0;
  position: fixed;
  top: 80px;

  z-index: -100;



}






/* #navbarResponsive {
  overflow:hidden ;
position: relative !important;
  background-color: #e4ebebe5 ;
  border-radius: 0 0px 16px 16px !important;
  top:0px ;

} */





.dropdown-menu.show{
  background-color: e4ebebe5 !important;

  border-radius: 0 0px 16px 16px !important;

}

.dropdown {

  background-color: e4ebebe5 !important;


}



.top-bar .icons {
  /* display: inline-block; */
  /* cursor: pointer; */
  font-size: 11px ;
  padding-top: 1px ; 
  /* margin-left: 50px; */
  background-image: linear-gradient(90deg, #1270A3, #A4E235);
  

}
.top-bar .show {
  display: inline-block !important;
}

.carousel {
  position: static;

}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 20px;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: all hidden;
          backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  -webkit-transition: all transform 0.6s ease-in-out;

}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
  -webkit-transform: all translateX(100%) ;
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
  -webkit-transform: all translateX(-100%) ;
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transition-property: all opacity;
  transform: none;
  -webkit-transform: all none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
  -webkit-transition: all opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: none;
    -webkit-transition: all none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  -webkit-transition: all opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}



.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-indicators .active {
  background-color: rgb(21, 177, 21);
}

.carousel-indicators li {
  background-color: rgb(18, 36, 202)

}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-inner img {

min-height: 100%;
min-width: auto;
width: 100%;
/* Set up positioning */
position: top center;
/* top: 0;
left: 0; */
}


.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
    -webkit-transform: rotate(360deg);
  }
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
          animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}
.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: 0.75s linear infinite spinner-grow;
          animation: 0.75s linear infinite spinner-grow;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
.spinner-grow {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
}



/* login form */

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  /* margin-top: 25px; */
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  /* margin: 0 auto; */
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}

.wrap-login100 {
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 25px 17px 25px;

  background: rgb(164, 226, 53);
  background: -webkit-linear-gradient(top, rgb(164, 226, 53)  rgb(18, 112, 163) );
  background: -o-linear-gradient(top, rgb(164, 226, 53), rgb(18, 112, 163) );
  background: -moz-linear-gradient(top, rgb(164, 226, 53), rgb(18, 112, 163) );
  background: linear-gradient(top, rgb(164, 226, 53), rgb(18, 112, 163) );
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px; 
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: rgb(164, 226, 53);
  /* background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef); */
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/* BASKET */


.prodactName#youtube, .prodactName#article, .prodactName#brandName, .prodactName#facebook,
.prodactName#linkedin, .prodactName#photo, .prodactName#radio, .prodactName#spot, 
.prodactName#tv, .prodactName#twitter, .prodactName#video, .prodactName#website {
  display: none ;
}

.prodactCart#youtubeCart, .prodactCart#articleCart, .prodactCart#brandNameCart, .prodactCart#facebookCart,
.prodactCart#linkedinCart, .prodactCart#photoCart, .prodactCart#radioCart, .prodactCart#spotCart, 
.prodactCart#tvCart, .prodactCart#twitterCart, .prodactCart#videoCart, .prodactCart#websiteCart {
  display: none ;
}



#myModal {
  
  padding-top: 100px;
  color:tomato; 
  background-image: linear-gradient(90deg, #A4E235, #1270A3);
}


.prodactName .spin {
  transition: transform .7s ease-in-out;
  -webkit-transition: transform .7s ease-in-out;
}
.prodactName .spin:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);

}

.top-bar a:hover {
  color:#05c5f5;
}



.ftco-section {
  /* padding-top: 100px !important; */
  padding: 2em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.content {
  overflow: none;
  width: 100%;
  max-width: 790px;
  padding: 0px 0;
  height: 500px;
  position: relative;
  margin: 20px auto;
  background: #7e0cf5; }

/*  Events display */
.events-container {
  overflow-y: scroll;
  height: 100%;
  width: 50%;
  float: right;
  margin: 0px auto;
  display: inline-block;
  padding: 0px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0; }
  @media (max-width: 767.98px) {
    .events-container {
      width: 100%;
      height: auto; } }

.events-container:after {
  clear: both; }

.event-card {
  padding: 20px 0;
  max-width: 100%;
  display: block;
  background: #fff;
  border: none !important;
  margin: 20px;
  margin-left: 12px; }
  @media (max-width: 991.98px) {
    .event-card {
      margin: 10px; } }
  @media (max-width: 767.98px) {
    .event-card {
      margin: 0;
      background: #e6e6e6; } }

.event-count, .event-name, .event-cancelled {
  display: inline;
  padding: 0 10px;
  font-size: 1rem; }

.event-count {
  color: #7e0cf5;
  text-align: right; }

.event-name {
  padding-right: 0;
  text-align: left; }

.event-cancelled {
  color: #cd4dcc;
  text-align: right; }

/*  Calendar wrapper */
.calendar-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 50%;
  background: #fff;
  font: 13px Helvetica, Arial, san-serif;
  display: inline-block;
  padding: 20px;
  float: left; }
  @media (max-width: 991.98px) {
    .calendar-container {
      padding: 0; } }
  @media (max-width: 767.98px) {
    .calendar-container {
      padding: 0;
      width: 100%; } }

.calendar-container:after {
  clear: both; }

.calendar {
  width: 100%;
  padding: 0; }

/* Calendar Header */
.year-header {
  background: #fff;
  height: 40px;
  text-align: center;
  position: relative;
  color: #fff;
  border-top-left-radius: 3px;
  margin-top: 20px; }

.year-header span {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  color: #000; }

.left-button, .right-button {
  cursor: pointer;
  width: 28px;
  text-align: center;
  position: absolute;
  color: #cccccc !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px !important; }
  @media (prefers-reduced-motion: reduce) {
    .left-button, .right-button {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .left-button:hover, .right-button:hover {
    color: #7e0cf5 !important; }

.left-button {
  left: 0; }

.right-button {
  right: 0;
  top: 0; }

/* Buttons */
.button {
  
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.65rem 1.9rem;
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all;
  color: white;
  border: none;
  background: #7e0cf5; }
  .button.button-white {
    background: #fff;
    color: #000; }
  .button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }

#cancel-button {
  margin-left: 10px;
  background: #cd4dcc; }


#add-button {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px; }

#add-button:hover, #ok-button:hover, #cancel-button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03); }

#add-button:active, #ok-button:active, #cancel-button:active {
  -webkit-transform: translateY(3px) scale(0.97);
  -ms-transform: translateY(3px) scale(0.97);
  transform: translateY(3px) scale(0.97); }

/* Days/months tables */
.days-table, .dates-table, .months-table {
  border-collapse: separate;
  text-align: center; }

.day {
  height: 26px;
  width: 26px;
  padding: 0 10px;
  line-height: 26px;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-size: 10px;
  color: #000; }

.month {
  cursor: default;
  height: 26px;
  width: 26px;
  padding: 0 2px;
  padding-top: 10px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 11px;
  color: #cccccc;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms; }
  @media (max-width: 991.98px) {
    .month {
      font-size: 8px; } }
  @media (max-width: 767.98px) {
    .month {
      font-size: 10.5px; } }

.active-month {
  font-weight: 700;
  color: #000; }

.month:hover {
  color: #cd4dcc; }

/*  Dates table */
.table-date {
  cursor: default;
  color: #2b2b2b;
  height: 26px;
  width: 26px;
  font-size: 15px;
  padding: 10px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  position: relative; }

.table-date:not(.nil):hover {
  border-color: #cd4dcc; }

.event-date {
  border-color: #7e0cf5;
  background: #7e0cf5;
  color: #fff; }
  .event-date:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background: #28a745; }

.active-date {
  background: #cd4dcc;
  color: #fff; }

.event-date.active-date {
  background: #7e0cf5; }

/* input dialog */
.dialog {
  z-index: 5;
  background: #000;
  position: absolute;
  width: 50%;
  height: 500px;
  top: 0;
  right: 0;
  display: none; }
  @media (max-width: 767.98px) {
    .dialog {
      width: 100%; } }

.dialog-header {
  margin: 20px;
  color: #fff;
  text-align: center;
  font-size: 28px; }

.form-container {
  
  margin-top: 25%; }

.form-label {
  padding-left: 25px;
  align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9); }

.input {
  border: none;
  background: none;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  display: block;
  margin-bottom: 50px;
  width: 300px;
  height: 20px;
  text-align: center;
  -webkit-transition: border-color 250ms;
  -o-transition: border-color 250ms;
  transition: border-color 250ms;
  color: #fff; }

.input:focus {
  outline: none;
  border-color: #fff; }

.error-input {
  border-color: #cd4dcc; }









  