{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
  
{% endblock %}

{% block main %}

<!--
 <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
<div class="row">
<div class="wrapper fadeInDown">
    <div id="formContent">
       Tabs Titles -->
   
      <!-- Icon 
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form 
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd 
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>

</div>

</div>
</div>
</div>
</div>
</div>
 
</div>



  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>  -->

 
<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/img/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="{{ url_for('auth.login') }}" method="POST" id="log-form" >
					<span class="login100-form-logo">
            <img src="/static/img/YgeiaSupportAdvisors_logo-2.png" height="80" width="120" class="" alt="ygeiaSupport" loading="lazy" >
<!-- 
						<i class="zmdi zmdi-landscape"></i> -->
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Συνδεση
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100" data-placeholder="&#xf15a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn" >
						<button class="login100-form-btn">
							Σύνδεση
						</button>
           
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
           <p class="text-danger"><strong> Δεν έχεις λογαριασμό;</strong> <br><a class="txt1" href="/auth/register">Κάνε <strong> Εγγραφή</strong></a></p>
					</div>
         

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
{% endblock %}