{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block main %}

<div class="limiter ">
  <div class="container-login100" style="background-image: url('/static/img/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" action="{{ url_for('auth.register') }}" method="POST" id="reg-form">
        
        
        <span class="login100-form-logo">
          <img src="/static/img/YgeiaSupportAdvisors_logo-2.png" height="80" width="120" class="" loading="lazy" >
<!-- 
          <i class="zmdi zmdi-landscape"></i> -->
        </span>

        <span class="login100-form-title p-b-34 p-t-27">
          Εγγραφη
        </span>

      <div class="row mt-3">
        <div class="col-6">


          <div class="wrap-input100 validate-input" data-validate = "Enter Email">
            <input class="input100" type="email" name="email" placeholder="Email">
            <span class="focus-input100" data-placeholder="&#xf15a;"></span>
          </div>
  
          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" name="pass" placeholder="Κωδικός">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Re-Enter password">
            <input class="input100" type="password" name="repass" placeholder="Επανεισαγωγή Κωδικού">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>
  
          <div class="wrap-input100 validate-input" data-validate = "Enter First Name">
            <input class="input100" type="text" name="first-name" placeholder="Όνομα">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>
  
          <div class="wrap-input100 validate-input" data-validate = "Enter Last Name">
            <input class="input100" type="text" name="last-name" placeholder="Επώνυμο">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>
  

        </div>
        <div class="col-6">

          <div class="wrap-input100 validate-input" data-validate = "Enter Telephone">
            <input class="input100" type="number" name="telephone" placeholder="Τηλέφωνο">
            <span class="focus-input100" data-placeholder="&#xf2be;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Enter Speciality">
            <input class="input100" type="text" name="speciality" placeholder="Ιατρική Ειδικότητα">
            <span class="focus-input100" data-placeholder="&#xf177;"></span>
          </div>
  
          <div class="wrap-input100 validate-input" data-validate = "Enter Address">
            <input class="input100" type="text" name="address" placeholder="Δ/νση Ιατρείου">
            <span class="focus-input100" data-placeholder="&#xf1ab;"></span>
          </div>
  
          <div class="wrap-input100 validate-input" data-validate = "Enter Postal Code">
            <input class="input100" type="number" name="postal_code" placeholder="Ταχυδρομικός Κώδικας">
            <span class="focus-input100" data-placeholder="&#xf1ab;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Enter Sosial Media">
            <input class="input100" type="text" name="socialMedia" placeholder="Ήδη Υπάρχον SocialMedia ή/και website">
            <span class="focus-input100" data-placeholder="&#xf35b;"></span>
          </div>

        </div>
      </div>

      
        

   

       
       

      </form>
      <div class="container-login100-form-btn">
        <button class="login100-form-btn" form="reg-form"type="submit" value="Register">
          Εγγραφή
      </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon 
      <div class="fadeIn first">
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <!-- <img src="\static\img\register.png"  alt="Register" width="250px"/>
      </div>
  
      <!-- Login Form 
      <form method="POST" >

        <input type="text" id="username" class="row fadeIn second" name="username" placeholder="Όνομα" required>
        <input type="text" id="username" class="row fadeIn second" name="username" placeholder="Επώνυμο" required>
        <input type="text" id="username" class="row fadeIn second" name="username" placeholder="Ηλεκτρονικό Ταχυδρομείο" required>

        <input type="password" id="password" class="row fadeIn third" name="password" placeholder="Κωδικός" required><br>
      
        
      <div class="row" >
        <input type="submit" class="col fadeIn fourth" value="Εγγραφή">
        </div>
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> 
  
    </div>
  </div> -->
  <!-- <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form> -->
{% endblock %}