
// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./scss/navbar.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";
@import "./sections/timeline.scss";
@import "./sections/team.scss";
@import "./sections/contact.scss";
@import "./sections/footer.scss";



$font-primary: 'Poppins',Arial, sans-serif;
$primary: #2f89fc;

@mixin gradient-background(){
	background: rgba(47,137,252,1);
	background: -moz-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(47,137,252,1)), color-stop(100%, rgba(94,255,201,1)));
	background: -webkit-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	background: linear-gradient(135deg, rgba(47,137,252,1) 0%, rgba(94,255,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#5effc9', GradientType=1 );
}





//SIDEBAR
.wrapper {
    width: 100%;
  }
  
  #sidebar {
    min-width: 300px;
    max-width: 300px;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    &:after{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          @include gradient-background();
          opacity: .7;
          z-index: -1;
    }
    &.active{
        margin-right: -300px;
        .custom-menu{
              margin-left: -40px;
        }
  
        .btn{
              &.btn-primary{
                  &:before{
                      content: "\f053";
                    font-family: "FontAwesome";
                    right: 2px !important;
                  }
                  &:after{
                      display: none;
                  }
              }
          }
    }
    .h6{
        color: $white;
    }
    h1{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 30px;
        .logo{
            color: $white;
            padding: 10px 30px;
            display: block;
            span{
                font-size: 13px;
                color: $white;
                display: block;
            }
        }
    }
    ul.components{
        padding: 0;
    }
    ul{
      li{
          font-size: 16px;
          >ul{
              margin-left: 10px;
              li{
                  font-size: 14px;
              }
          }
          a{
              padding: 15px 30px;
              display: block;
              color: rgba(255,255,255,.9);
              border-bottom: 1px solid rgba(255,255,255,.1);
              &:hover{
                  color: $white;
                  background: $primary;
                  border-bottom: 1px solid $primary;
              }
          }
          &.active{
              > a{
                  background: transparent;
                  color: $white;
                  &:hover{
                      background: $primary;
                      border-bottom: 1px solid $primary;
                  }
              }
          }
      }
    }
    @include media-breakpoint-down(md){
      margin-right: -300px;
      &.active {
          margin-left: 0;
      }
      .custom-menu{
          margin-left: -60px !important;
          top: 10px !important;
      }
    }
  
    .custom-menu{
          display: inline-block;
          position: absolute;
          top: 20px;
          left: 0;
          margin-left: -35px;
          @include transition(.3s);
          .btn{
              &.btn-primary{
                  background: $primary;
                  border-color: transparent;
                  position: relative;
                  color: $black;
                  width: 30px;
                  height: 30px;
                  &:after,&:before{
                      position: absolute;
                      top: 2px;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      font-family: "FontAwesome";
                      color: $white;
                  }
                  &:after{
                      content: "\f054";
                      left: 2px;
                  }
              }
          }
    }
  }
  
  
  a[data-toggle="collapse"] {
      position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  #sidebarCollapse{
      span{
          @include media-breakpoint-down(md){
          display: none;
          }
      }
  }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
  }
  
  
  .btn{
      &.btn-primary{
          background: $primary;
          border-color: $primary;
          &:hover, &:focus{
              background: $primary !important;
              border-color: $primary !important;
          }
      }
  }
  
  .footer{
      p{
          color: rgba(255,255,255,.8);
      }
  }
  
  
  
  .form-control {
      height: 40px!important;
      background: $white;
      color: $black;
      font-size: 13px;
      border-radius: 4px;
      box-shadow: none !important;
      border: transparent;
      &:focus, &:active {
          border-color: $black;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(0,0,0,.5);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(0,0,0,.5);
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(0,0,0,.5);
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: rgba(0,0,0,.5);
      }
  }
  
  
  .subscribe-form{
      .form-control{
          background: $white;
      }
  }